:root{
	--mainColor:#15abb6;
	--secondaryColor:#079790;

	--borderColor:#141918;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(72, 90, 86, 0.8);
	--previewShadow:#252f2d;


	--buttonColor:#669991;


}
